@model IEnumerable<Zadaća_4.Models.Cvijet>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Cvjećar.ba - Web-stranica za sarajevski uvoz cvijeća</h1>
<img src="https://images5.alphacoders.com/101/1018663.jpg" style="width: 100%" />
<h2 style="margin-top: 3%">Registrovano cvijeće:</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LatinskiNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZemljaPorijekla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumDospjeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvjecara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MozeStajati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaniSvjezine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LatinskiNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZemljaPorijekla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDospjeca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvjecara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MozeStajati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaniSvjezine)
            </td>
        </tr>
        }
    </tbody>
</table>

<div style="text-align: center;">
    <a asp-action="Create" class="btn btn-primary" style="margin-top: 5%">Dodaj novo cvijeće</a>
    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=lMIQVZZiggI&list=OLAK5uy_k4QHPK7M9IQeL4D0VwJ5otAYKnqwzprZY" style="margin-top: 5%">Soft playlista</a>
</div>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers